.content-row{
    margin: 40px 0;
}

.info-container{
    /*border-right: 1px solid gray;*/
}

.pic-container{
    width:100%;
    height:172px;
    text-align: center;
}
.user-pic{
    position: relative;
    width:140px;
    height:140px;
    margin: 25px auto 5px;
    border-radius: 20px;
}


.info-line p{
    margin: 5px 0 0 30%;
    color: #444444;
    font-size: 16px;
}

#score-line p{
    margin-left: 36%;
}

.info-name{
    float:left;
    font-size: 18px !important;
}
.info-state{
    vertical-align: middle;
    font-size: 8px;
    font-weight:normal;
    margin-right: 4px;
    margin-left: 2px;
    padding: 1px 4px;
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 2em;
    border-bottom-right-radius: 2em 0.5em;
    border-bottom-left-radius: 1em 2em;
    background-color: #777;
    color: white;
}

#info-welcome{
    background-color:#337ab7;
}

#info-warning{
    background-color:#d9534f;
}
.info-operate{
    display: block;
    height: 29px;
    line-height: 29px;
    color: #fff;
    width: 36%;
    text-align: center;
    background-color: #5288d7;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    margin: 5px auto;
}

.info-operate:hover{
    text-decoration: none;
    background-color: #1d62bb;
    color:white;
}


.notice-row{
    width:100%;
    margin:10px 0;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    border-radius: 30px;
    padding-bottom: 10px;
}

.notice-row p{
    color: #606060;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
}

#success-notice{
    text-align: center;
    vertical-align: middle;
    height:50px;
    margin:20px 0 10px;
}
#success-notice img{
    margin-right: 3px;
}
#success-notice p{
    display: inline;
    color: #5288d7;
    font-size: 28px;
    vertical-align: middle;
}
#notice-code{
    color: #5288d7;
    font-size: 22px;
    margin-left: 5px;
}
.active-href{
    color: #5288d7;
    cursor: pointer;
}
.active-href:hover{
    color: #1d62bb;
    text-decoration: none;
}

.input-row{
    width:100%;
    margin:10px 0;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px 30px;
}
.input-row .title{
    border-bottom: 1px solid #e6e6e6;
}

.input-row .title span{
    font-weight: bold;
    font-size: 15px;
    color: #333;
    border-bottom: 2px solid #5288d7;
    margin-bottom: -1px;
    padding: 10px 5px 5px;
    display: inline-block;
}
.static-info{
    /*padding-bottom: 20px;*/
    /*border-bottom: 1px solid #e6e6e6;*/
}

.dynamic-info{
    padding-left: 15px;
    padding-right: 15px;
}

div.item{
    margin-top: 20px;
}

div.item.buttons{
    text-align: center;
}

span.n {
    font-size: 16px;
    color: #555555;
    display: inline-block;
    text-align: right;
    width: 110px;
}
span.n.mid-n{
    width: 130px;
}
span.n.long-n{
    width: 170px;
}

span.content-span{
    font-size: 16px;
    color: #333333;
    display: inline-block;
    width: 120px;
    margin-left: 5px;
}

.info-operate-inline{
    display: inline-block;
    border: 1px solid #e6e6e6;
    color: #333;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: color .1s;
    width:90px;
    margin: -3px auto;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
}

.info-operate-inline:hover {
    color: #5288d7;
    border-color: #5288d7;
    text-decoration: none;
}

.reg-input {
    border: 1px solid #d3d3d3;
    height: 28px;
    border-radius: 4px;
    text-indent: 12px;
    width: 71%;
    font-size: 14px;
    background: none;
    margin-left: 5px;
}

.reg-input.mid{
    width: 68%;
}
.reg-input.long{
    width: 63%;
}

.errorMsg {
    float: left;
    height: 28px;
    margin:20px 30px 1px 77px;
    color: #ff6767;
    /*display: none;*/
}

.border-btn {
    border: 1px solid #e6e6e6;
    display: inline-block;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    width: 90px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    transition: color .1s;
    float:right;
    margin:16px 130px 5px -110px;
}

.border-btn:hover {
    color: #5288d7;
    border-color: #5288d7;
}

.btn-second{
    display: none;
}

#cash-table{
    margin:20px auto;
}