.navbar{
    margin-bottom: 0px;
}

.navbar-brand > img{
    margin-top: -5px;
}
.navbar-inverse{
    background-color: #023b53;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #4e7ed7;
    border-color:#4e7ed7;
}

.footer-fixed-bottom{
    position: absolute;
    width:100%;
    bottom: 0px;
    text-align: center;
}