.navbar{
    margin-bottom: 0px;
}

.navbar-brand > img{
    margin-top: -5px;
}

.navbar{
    padding: 0 100px;
}

.navbar-color{
    background-color: #386fd2;
    border: none;
}
.navbar-nav li a{
    color: white;
    margin: 0 1px;
}

.navbar-nav li a:hover{
    background-color: #1d62bb;
}
.navbar-nav li a:focus{
    background-color: #1d62bb;
}
.navbar-nav li a.active{
    background-color: #1d62bb;
}

.footer-fixed-bottom{
    position: absolute;
    width:100%;
    bottom: 0px;
    text-align: center;
}